*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
}
body{
    color: #fafafa;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
table{
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    margin: 30px;
}
thead, tfoot{
    background-color: rgb(97, 97, 97);
}
td, th{
    border: 1px solid #c0c0c0;
    width: 300px;
    padding: 15px;
}