body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 40px;
}
p{
    font-size: 17px;
    font-weight: bold;
}
nav{
    display: flex;
}
a{
    color: black;
    font-weight: bold;
}
