*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #fafafa;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
table{
    width: 400px;
    height: 400px;
    border-collapse: collapse;
}
td{
    padding: 8px;
    text-align: center;
}
table, td{
    border: 1px solid #c0c0c0;
}